#root {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex: 1 1 auto;
}

.navbar {
    --bs-navbar-brand-color: rgba(255, 255, 255, 1);
    --bs-navbar-brand-hover-color: rgba(255, 255, 255, 1);

    --bs-navbar-color: rgba(255, 255, 255, 0.65);
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.8);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.3);
    --bs-navbar-active-color: rgba(255, 255, 255, 1);
}

.form-select {
    border-radius: 0.1rem;
}
